#header {
    height: 600px;
    /* background-image: url(./img/arkaplan.jpg); */
    background: url(../img/arkaplan.jpg);
}

.baslik {
    margin-top: 150px!important;
}

.baslik  form input::placeholder {
    color: white;
}

.cizgi {
    height: 10px;
    width: 100%;
    background-color: #3a3a3a;
}