#header {
    height: 600px;
    /* background-image: url(./img/arkaplan.jpg); */
    background: url(../img/arkaplan.jpg);
}

.baslik {
    margin-top: 150px!important;
}

.baslik  form input::placeholder {
    color: white;
}

.cizgi {
    height: 10px;
    width: 100%;
    background-color: #3a3a3a;
}

.ekle a:hover .circle {
    background-color: white;
    border-radius: 10px;
    color: #3a3a3a;
}

.profiller .profil a img {
    border: 1px outset #3a3a3a;
    border-radius: 10px;
}

.profiller .profil a:hover img {
    border-color: white;
}

